body {
    background-color: #ECE9E0;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;

    background-color: #c8c7ca;
    border-radius: 10px;
}

.logo {
    padding: 10px;
    height: 80px;
    width: 80px;
}

section {
    margin: 20px 0 20px 0;

    background-color: #c8c7ca;
    border-radius: 10px;
}

table {
    border-collapse: separate;
    border-spacing: 3px;
    background: #c8c7ca;
    color: #1f1f1f;
    border: 15px solid #c8c7ca;
    border-radius: 10px;
}
  
th {
    color: #252525;
    font-size: 18px;
}
    
td {
    background: #ECE9E0;
    padding: 10px;
}

#form-norms {
    margin: 5px 15px 20px 25px;
    box-shadow: inset 0px 0px 8px 2px #7162c5;
	background-color: #ab8cdd;
	border-radius: 10px;
	border: 1px solid #333333;
	display: inline-block;
	color: #252525;
	font-size: 15px;
	padding: 5px 16px;
	text-decoration: none;
	text-shadow: 0px 0px 0px #7f5cb8;
}

#form-norms:hover {
    background-color: #c7b5e4;
}

#form-norms:active {
    position: relative;
	top: 1px;
}

#norms {
    color: #1b1b1b;
    line-height: 1.4;
}



/*


#F5D7BF

#ECE9E0

прозрачная хрень на варе RGBA(152,162,170,.65)

rgb(71, 154, 223)

rgba(238, 241, 245, 0.3) - прозрачный серый

rgb(245, 215, 191) - очередной варик белого для фона шапки

#9370DB светло-фиолетовый

#cec3a5 - цвет типа бежевый на котором остановились до фиолетового, возвращаться есчо к нему, #656665 - цвет текста при таком фоне

#3f3e3e